@font-face {
    font-family: "Metronic";
    src: local("Metronic"), url("https://static.heroesofthestorm.com/fonts/MetronicforBlizzard.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Metronic", sans-serif;
    color: black;
    background-color: lightgray;
}

h1 {
    color: rebeccapurple;
}

h3 {
    color: orange;
    padding: 4px;
    padding-left: 10 px;
}

#select-options{
    margin:3px;
}
#charts{
    margin:3px;
}

#hero-talent-main {
    display: flex;
    flex-direction: row;
}

#hero-header {
    display: flex;
    flex-direction: row;
    width: min-content;
    background: rgb(231, 231, 231);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0) 100%);
    padding-right: 50px;
    margin: 3px;
}

#hero-header h2 {
    padding-left: 10px;
    color: rebeccapurple;
}

.hero-level {
    border: #490095 solid 2px;
    background-color: white;
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.hero-level-talents {
    display: flex;
    flex-direction: column;
}

.hero-level.talent-display-none {
    border: transparent;
    justify-content: center;
}

.talent-display-none>.hero-level-talents {
    display: none;
}

.talent-chosen {
    color: rebeccapurple;
    font-weight: bold;
}

.talent-not-chosen {
    color: grey;
}

.hero-level img {
    border: 5px;
    height: 32px;
    width: 32px;
    float: right;
}

img.talent-not-chosen {
    opacity: 0.5;
}